@model Velocidad.Models.CarreraViewModel

@{
    ViewData["Title"] = "Nueva Carrera";
}

<h1>Nueva Carrera</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table table-striped">
        <tr>
            <th><label asp-for="DescripcionCarrera" class="control-label"></label></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input asp-for="DescripcionCarrera" class="form-control" />
                <span asp-validation-for="DescripcionCarrera" class="text-danger"></span>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <th><label asp-for="Corredor.First().Minutos" class="control-label"></label></th>
            <th><label asp-for="Corredor.First().Segundos" class="control-label"></label></th>
        </tr>
        @for (var i = 0; i < 10; i++)
        {
            <tr>
                <td>
                    Corredor @(i + 1)
                </td>
                <td>
                    <input asp-for="Corredor[i].Minutos" class="form-control" />
                    <span asp-validation-for="Corredor.First().Minutos" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Corredor[i].Segundos" class="form-control" />
                    <span asp-validation-for="Corredor.First().Segundos" class="text-danger"></span>
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
